Package: com.ps.emoji10alpha
Name: Emoji10 (iOS 5.1) [Beta]
Depends: mobilesubstrate, preferenceloader, firmware (>= 5.1), firmware (<< 6.0), com.ps.emojilayout, com.ps.emojiattributes, com.ps.emojiresources, com.ps.emojilocalization, com.ps.emojilibrary
Version: 1.0.0
Architecture: iphoneos-arm
Description: Latest emojis for iOS 5.1
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/emoji10alpha/index.html
